<section class ="banner" *ngFor="let data of bannerData">
<div class="banner__overlay">   
<div class = "banner__image">
    {{data.image}}
</div>
</div> 
<div class ="banner__text">
    {{data.text}}
</div>
<div class ="oil-product-page__social-media">
    <p><a href ="https://www.facebook.com/Ebony-Shades-220781942709013/" target="_blank"><i class="fa fa-facebook"></i></a></p>
    <p><a href ="https://www.twitter.com/ebony_shades" target="_blank"><i class="fa fa-twitter"></i></a></p>
    <p><a href ="https://www.instagram.com/ebonyshades_" target="_blank"><i class="fa fa-instagram"></i></a></p>
  </div>


</section>
