<section class = "oil-product-page">
<div class = "oil-product-page__banner" [defaultImage]="defaultImage" [lazyLoad]="oilProductBanner">
    <div class ="oil-product-page__social-media">
        <p><a href ="https://www.facebook.com/Ebony-Shades-220781942709013/" target="_blank"><i class="fa fa-facebook"></i></a></p>
        <p><a href ="https://www.twitter.com/ebony_shades" target="_blank"><i class="fa fa-twitter"></i></a></p>
        <p><a href ="https://www.instagram.com/ebonyshades_" target="_blank"><i class="fa fa-instagram"></i></a></p>
      </div>
</div>

<app-oil-intro-card></app-oil-intro-card> 

<div class ="oil-product-page__background">
<div class ="oil-product-page__info-section">
<div class = "oil-product-page__product-info ">
<div class = "oil-product-page__product-info-heading">
    Product Information and Ingredients
</div>
<h3>Sweet Almond Oil </h3>
<p>A light vegetable oil that smoothes hair cuticles, controls frizz 
    and enhances shine.  It contains Vitamin E which is a natural antioxidant.
</p>
<h3>Avocado Oil </h3>
<p>It is very rich in oleic acid and monosaturated fats making it one of the few
    oils that can penetrate the hair shaft and moisturize hair. 
</p>
<h3>Olive Oil </h3>
<p>The main ingredients are Oleic Acid, Palmitic acid and Squalene.
    Adds softness and strength to hair by penetrating the hair shaft and 
    preserving moisture. Olive oil is also great for moisturizing the scalp. 
</p>
<h3>Castor oil </h3>
<p>Rich in Ricinoleic acid, a type of fatty acid found to fight inflammation. 
When applied to the scalp, it enhances the health of hair follicles and promotes hair growth. 
</p>
<h3>Coconut Oil  </h3>
<p>Adds lustre, shine and softness to hair. Prevents hair breakage and split ends. 
</p>
<h3>Argan Oil   </h3>
<p>Helps to hydrate and soften hair.  It contains a high content of antioxidants, essential fatty acids 
and Vitamin E that will increase elasticity, restore shine and condition.
</p>
</div>
</div>
</div>
<app-find-store-card></app-find-store-card>
<app-logo-card-home></app-logo-card-home>
<app-map></app-map>

</section>
