@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

.info-card {
  padding: 20px 38px;

  @media (min-width:768px) {
    padding: 10px 40px 100px;
  }

  @media (min-width: 1024px) {
    padding: 5px 65px 160px 65px;
  }

  @media (min-width: 1280px) {
    padding: 0px 30px 300px 83px;

  }

  @media (min-width:1440px) {

    padding: 0px 20px 400px 121px
  }

  @media (min-width: 2560px) {
    padding: 0px 100px 650px 320px;
  }

  &__cards {
    height: auto;
    max-width: 300px;

    @media (min-width: 768px) {
      height: 450px;
    }

    @media (min-width: 1280px) {
      height: 500px;
      transform: translate(17%, 1%);
    }
  }

  &__heading {
    font-size: 30px;
    // font-family: 'Cabin', sans-serif;
    // line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    // font-weight: 500;
    padding: 30px 10px;
    color: #17345E;
    text-align: center;

    @media (min-width:768px) {
      font-size: 35px;
      width: 700px;
      padding: 30px 10px;
      font-weight: 600;
    }

    @media (min-width: 1024px) {
      font-size: 40px;
      width: 880px;
    }

    @media (min-width: 1280px) {
      font-size: 40px;
      padding: 60px 10px 60px 230px;
    }

    @media (min-width: 1440px) {
      font-size: 40px;
      width: 1000px;
      // padding: 60px 10px;
      padding: 60px 50px 60px 250px;
      font-size: 60px;
    }

    @media (min-width: 2560px) {
      width: 1800px;
      font-size: 80px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;


    @media (min-width: 768px) {
      width: 350px;
      height: 350px;

    }

    @media (min-width: 1024px) {
      width: 400px;
      height: 400px;
    }

    @media (min-width: 1280px) {
      width: 500px;
      height: 500px;

    }

    @media (min-width: 2560px) {
      width: 800px;
      height: 800px;
    }

  }

  &__text {
    color: black;
    width: auto;
    height: auto;
    padding-top: 15px;
    line-height: 28px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif; 


    @media (min-width: 768px) {
      width: 370px;
      background-color: #17345E;
      color: white;
      height: 310px;
      padding: 31px;
      transform: translate(87%, -107%);
      line-height: 20px;
      font-size: 14px;
    }

    @media (min-width: 1024px) {

      color: white;
      width: 480px;
      height: 360px;
      transform: translate(78%, -104%);
      line-height: 27px;
      // font-size: 14px;
      // padding: 36px;
      font-size: 16px;
      padding: 50px;

    }

    @media (min-width: 1280px) {
      color: white;
      width: 600px;
      height: 462px;
      padding: 48px;
      transform: translate(81%, -104%);
      font-size: 18px;
      line-height: 38px;


    }

    @media (min-width: 1440px) {
      width: 680px;
      transform: translate(69%, -103%);
      font-size: 20px;
      line-height: 33px;
      padding: 61px;
    }

    @media (min-width: 2560px) {
      width: 1000px;
      height: 740px;
      transform: translate(78%, -103%);
      font-size: 32px;
      line-height: 50px;
      padding: 114px;
    }

    @media (min-width: 2800px) {
      width: 750px;
      height: 620px;
      transform: translate(102%, -107%);
    }
  }

  &__button-section {
    padding-top: 17px;
  }

  &__product_button {

    background-color: #F80386;
    color: white;
    padding: 5px;
    border-radius: 0px 22px 0px 22px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 600;

  }
}
