<section class = "info-card">
    <div class = "info-card__cards">
    <div class ="info-card__heading">
        Who Are We?
    </div>
<div class = "info-card__image">
    <img class ="info-card__image img-responsive" [defaultImage]="defaultImage" [lazyLoad]="infoImage">


</div>
<div class = "info-card__text">
    Our Ebony Shades hair care range is made of quality, carefully selected ingredients that are safe to use for all family members as all ingredients are natural. By regularly using Ebony Shades, you, your family and friends can have beautiful, healthy and strong hair you can proudly display.
    Ebony Shades can be applied for daily moisture, strengthening of hair, reduction of hair breakage and the improvement of scalp health amongst other benefits.
</div>
</div>
</section>