.shop-page {

  &__banner {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  
    @media(min-width: 768px) {
        height: 550px;
    }
  
    @media(min-width: 1280px) {
        height: 800px;
    }
  
    @media(min-width: 2560px) {
        height: 1250px;
    }
  }

  &__heading {
    font-size: 30px;
    color: #17345E;
    font-weight: 500;
    text-align: center;
    padding: 40px 0px;
    font-family: 'Varela Round', sans-serif;

    
    
    @media (min-width: 768px){
    font-size: 33px;
    padding-top: 1rem;
    font-weight: 600;
    }
    
    }


   p {
     text-align: center;
     line-height: 22px;
      letter-spacing: 1px;
      font-family: 'Quicksand', sans-serif; 

   } 
  }