<section class ="shop-page">
    <div class = "shop-page__banner" [defaultImage]="defaultImage" [lazyLoad]="shopBannerImage">
 
  </div>

  <div class ="shop-page__heading">
    Shop Ebony Shades Products
    </div>
    <p>Delivery charged at R120 for 0-5kg from Postnet to closest Postnet.</p>
     <div class ="products">
      <div id='collection-component-1611769482310'></div>
      <i loadScript [script] ="'./assets/js/shop_page.js'"></i>
     </div>


  </section>
  
  
