<section class ="contact-page">

  <div class = "contact-page__banner" [defaultImage]="defaultImage" [lazyLoad]="contactBannerImage">

</div>
    <h2>Feel Free to Contact Us</h2>
    
    <div class ="container contact-page__form">
    <div class = "row">
      <div class="contact-page__form-fields">
      <form action="https://formspree.io/f/moqpzaqo"
      method="POST">
        <div class="row">
          <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <input type="text" id="email" name="email" placeholder="Your email address..">
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <select id="enquiry" name="enquiry">
              <option value="general">General Enquiry</option>
              <option value="stock">Stock Enquiry</option>
            
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          </div>
        </div>
        <div class ="button">
        <div class="row">
          <input type="submit" value="Submit">
        </div>
      </div>
      </form>
  </div>
        <div class ="contact-page__details">
          <h4>Contact Details:</h4>
          <p><span class="contact-page__title">Email:</span> info@ebonyshades.co.za</p>
        </div>
  </div>
  </div>
  <app-logo-card-home></app-logo-card-home>

  <app-map></app-map>
</section>

