.contact-page {

&__banner {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  @media(min-width: 768px) {
      height: 550px;
  }

  @media(min-width: 1280px) {
      height: 800px;
  }

  @media(min-width: 2560px) {
      height: 1250px;
  }
}

&__form {
  display: flex;
  flex-direction: column;

  @media (min-width:1280px) {
    flex-direction: row;
  }
}



&__details {
  padding: 37px 15px;
  min-width: 19rem;

  @media (min-width: 768px) {
    padding: 5rem 2rem;
    min-width: 37rem;
  }

  @media (min-width: 1024px) {
    padding: 4rem 5rem;
    min-width: 47rem;
  }

  @media (min-width: 1280px) {
    padding: 50px 3px;
    min-width:27rem;
  }

}

&__details p {
color: black;
font-family: 'Cabin', sans-serif;

@media (min-width:768px) {
  font-size: 1.5rem;
}

}

&__title {
  font-size: 1.1rem;
  color: #17345E;
  letter-spacing: 1px;
  font-family: 'Varela Round', sans-serif;


  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

&__details h4 {
  font-family: 'Varela Round', sans-serif;
  color: #17345E;
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 1.7rem;
  }
  
  }


&__form-fields {
  margin-top: 3rem;
  margin-left: 1.7rem;
  padding-right: 0rem;
  min-width: 260px;

  @media (min-width: 375px) {
    min-width: 320px;

  }
  
    @media (min-width: 425px) {
      min-width: 360px;
    }

    @media (min-width: 768px){
 
    padding-right: 2rem;
    padding-left: 1rem;
    min-width: 700px;
    }

    @media (min-width: 1024px){
 
      padding-right: 2rem;
      padding-left: 4rem;
      min-width: 900px;
      }

    @media (min-width: 1280px) {
    padding-right: 7rem;
    padding-left: 2rem;
    min-width: 650px;
    }

    @media (min-width: 1440px) {
      

    }

   
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #17345E;
    font-weight: 600;
  }
  
  input[type=submit] {
    background-color: #17345E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #17345E;
  }
  
  
  .col-75 {
    width: 100%;
    margin-top: 6px;
  }
  
 
  &__find-store-text {
    text-align: center;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif; 
    color: #17345E;
    font-size: 30px;
    padding: 40px;
    

    @media (min-width: 768px) {
        font-size: 35px;
        padding: 60px;
    }

    @media (min-width: 1280px) {
        font-size: 45px;
        padding: 70px;
    }


}

h2 {
  font-family: 'Varela Round', sans-serif;
  color: #17345E;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 20px 20px 0px 20px;
  font-size: 2rem;

}


&__logos {
  display: flex;
  flex-direction: column;
  padding:  15px 0px;

 @media (min-width: 768px) {
   flex-direction: row;
   padding: 25px 133px;
 }

  @media (min-width: 1024px){
    padding: 25px 136px;
  }

  @media (min-width: 1280px) {
    padding: 25px 250px;
  }

  @media (min-width: 1440px) {
    padding: 25px 344px
  }

  @media (min-width: 2560px) {
    padding: 50px 900px;
  }
}

&__logo {

  padding: 0px;
  @media (min-width: 768px) {
    padding: 0px 10px;
  }

  @media (min-width: 1280px) {
    padding: 0px 60px;
  }
  
}

&__form {


}


}

::ng-deep .logo-card-home {
  padding: 2rem 1rem 1rem 1rem!important;
  text-align: center;
  
  @media (min-width: 375px) {
      padding: 2rem 2rem 1rem 2rem;
  }
  
  @media (min-width: 768px) {
      padding: 1rem;
  }
}
