<section class = "home-banner">
<div id="" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#" data-slide-to="0" class="active"></li>
      <li data-target="#" data-slide-to="1"></li>
      <li data-target="#" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" [defaultImage]="defaultImage" [lazyLoad]="slide01" alt="First slide" />
        <div class="home-banner__text-block">
          <h4>Hair Happiness in a Bottle.</h4>
          <p>Ebony Shades products are made from only the best ingredients to nourish and grow your hair.</p>
            <div class="home-banner__button">
            <button class ="home-banner__prod-btn">View Products</button>
            </div>
            <div class ="home-banner__social-media">
              <p><a href ="https://www.facebook.com/Ebony-Shades-220781942709013/" target="_blank"><i class="fa fa-facebook"></i></a></p>
              <p><a href ="https://www.twitter.com/ebony_shades" target="_blank"><i class="fa fa-twitter"></i></a></p>
              <p><a href ="https://www.instagram.com/ebonyshades_" target="_blank"><i class="fa fa-instagram"></i></a></p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" [defaultImage]="defaultImage" [lazyLoad]="slide02" alt="Second slide" />
        <div class="home-banner__text-block">
          <h4>Ebony Shades Restoring Oil</h4>
          <p>Ebony Shades products are made from only the best ingredients that nourish and grow your hair.</p>
            <div class="home-banner__button">
            <button routerLink="/restoring-oil" class ="home-banner__prod-btn">View Product</button>
            </div>
            <div class ="home-banner__social-media">
              <p><a href ="https://www.facebook.com/Ebony-Shades-220781942709013/" target="_blank"><i class="fa fa-facebook"></i></a></p>
              <p><a href ="https://www.twitter.com/ebony_shades" target="_blank"><i class="fa fa-twitter"></i></a></p>
              <p><a href ="https://www.instagram.com/ebonyshades_" taget="_blank"><i class="fa fa-instagram"></i></a></p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" [defaultImage]="defaultImage" [lazyLoad]="slide03" alt="Third slide" />
        <div class="home-banner__text-block">
          <h4>Ebony Shades Restoring Serum</h4>
          <p>Ebony Shades products are made from only the best ingredients to nourish and grow your hair.</p>
            <div class="home-banner__button">
            <button class ="home-banner__prod-btn" routerLink="/restoring-serum">View Product</button>
            </div>
            <div class ="home-banner__social-media">
              <p><a href ="https://www.facebook.com/Ebony-Shades-220781942709013/" target="_blank" ><i class="fa fa-facebook"></i></a></p>
              <p><a href ="https://www.twitter.com/ebony_shades" target="_blank"><i class="fa fa-twitter"></i></a></p>
              <p><a href ="https://www.instagram.com/ebonyshades_" target="_blank"><i class="fa fa-instagram"></i></a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
