.home-banner {

  &__text-block {

    display: none;

    @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 100px;
    left: 0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 260px;
    text-align: left;
    padding-bottom: 20px;
  }

  @media (min-width:1024px) {
    max-width: 300px;
    padding-left:20px;
    line-height: 12px;
    // top: 150px;
    left: 0px;
  }

  @media (min-width:1280px) {
    position: absolute;
    top: 190px;
    left: 73px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 365px;
    text-align: left;
    
  }

  @media (min-width:1280px) {
    top: 197px;
  
  }

  @media (min-width:2560px) {
    position: absolute;
    top: 197px;
    left: 70px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    max-width: 650px;
  }

 

  h4 {
    padding-bottom: 5px;
    font-size: 19px;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;


    @media (min-width: 768px) {
      font-size: 30px;
    }

    @media (min-width: 1024px) {
      // font-size: 40px;
    }

    @media (min-width: 1280px) {
      font-size: 40px;
    }
    @media (min-width: 1440px) {
      font-size: 47px;
    }
    @media (min-width: 2560px) {
      font-size: 100px;
    }
  }

  p {
    display: none;
    // font-size: 12px;

    @media (min-width: 768px) {
      font-size: 18px;
      display: block;
      line-height: 22px;
      letter-spacing: 1px;
      font-family: 'Quicksand', sans-serif; 

    }

    @media (min-width: 1024px) {
      font-size: 21px;
      line-height: 29px;
    }

    @media (min-width: 1440px) {
      font-size: 20px;
    }

    @media (min-width: 1440px) {
      font-size: 27px;
      padding-bottom: 25px;
    }

    @media (min-width: 2560px) {
      font-size: 50px;
      line-height: 55px;
    }
  }
   
  }

  &__prod-btn {

    background-color: #F80386;
    color: white;
    padding: 5px;
    border-radius: 0px 22px 0px 22px;
    width: 110px;
    height: 34px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 600;


    @media (min-width: 1024px) {
      width: 150px;
      height: 50px;
      font-size: 15px;
    }
}

&__social-media {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  color: white;


  @media (min-width: 768px){
    // padding-top: 3.5rem;
    padding-top: 1.2rem;
  }

  @media (min-width: 1024px){
    padding-top: 2.5rem;
  }

  @media (min-width: 1280px) {
    padding-top: 2.5rem;
  }

  @media (min-width: 1440px) {
    // margin-top: 13.5rem;
    margin-top: 7rem;
  }

  @media (min-width: 2560px) {
    // margin-top: 53.5rem;
    margin-top: 5rem;

  }
}

&__social-media p{
padding-left: 0.7rem;
line-height: 22px;
letter-spacing: 1px;
font-family: 'Quicksand', sans-serif; 


}

&__social-media a {
  color: black;
}


}



.carousel-indicators > li {
    border-radius: 50%;
    height: 11px;
    width: 11px;

    @media (min-width: 768px ){
      height: 17px;
      width: 17px;
    }
  }

 



