<section class="home-page">
<app-home-banner></app-home-banner>
<app-info-card></app-info-card>
<app-find-store-card></app-find-store-card>
<app-product-cards></app-product-cards>
<app-logo-card-home></app-logo-card-home>

</section>




