<section class="find-store-modal">
  <h2 mat-dialog-title>Our Product is available at the following Pick n Pay stores.</h2>
  <mat-dialog-content class="mat-typography">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Gauteng</h4>
          <ul>
            <li>Pick n Pay Family Ferndale on Republic</li>
            <li>Pick n Pay Family Stonehill Crossing</li>
            <li>Pick n Pay Hyper Montana</li>
            <li>Pick n Pay Kyalami on Main</li>
            <li>Pick n Pay Hyper Woodmead</li>
            <li>Pick n Pay Benmore Gardens</li>
            <li>Pick n Pay Rosebank</li>
            <li>Pick n Pay Randpark Ridge</li>
            <li>Pick n Pay Hyper Norwood</li>
            <li>Pick n Pay Wonderboom Junction</li>
            <li>Pick n Pay Hyde Park Mall</li>
            <li>Pick n Pay Hyper Greenstone</li>
            <li>Pick n Pay Hypermarket - Faerie Glen</li>
            <li>Pick n Pay Victory Park</li>
            <li>Pick n Pay Killarney Mall</li>
            <li>Pick n Pay Gallo Manor</li>
            <li>Pick n Pay Bylsbridge Promenade</li>
            <li>Pick n Pay Bedfordview</li>
            <li>Pick n Pay Family The Galleria</li>
            <li>Pick n Pay Rand Steam</li>
            <li>Pick n Pay Fourways</li>
            <li>Pick n Pay Kensington</li>
            <li>Pick n Pay Mall of Africa</li>
            <li>Pick n Pay On Nicol</li>
            <li>Pick n Pay Hyper Centurion</li>
            <li>Pick n Pay The Marc</li>
            <li>Pick n Pay Family Meadowlands</li>
          </ul>
          <h4>KwaZulu-Natal</h4>
          <ul>
            <li>Pick n Pay La Lucia</li>
            <li>Pick n Pay Umhlanga Crescent</li>
            <li>Pick n Pay Shelly Beach</li>
            <li>Pick n Pay Hyper Durban North</li>
            <li>Pick n Pay Meer En See</li>
            <li>Pick n Pay Hayfields</li>
            <li>Pick n Pay </li>
          </ul>
        </div>
        <div class="col">
          <h4> Western Cape</h4>
          <ul>
            <li>Pick n Pay Constantia</li>
            <li>Pick n Pay Garden Route Mall</li>
            <li>Pick n Pay Langeberg Mall</li>
            <li>Pick n Pay Knysna</li>
            <li>Pick n Pay Kenilworth</li>
            <li>Pick n Pay Hyper Brackenfell</li>
            <li>Pick n Pay Tygervalley</li>
            <li>Pick n Pay Waterfront</li>
            <li>Pick n Pay Plattekloof</li>
            <li>Pick n Pay Pinelands</li>
            <li>Pick n Pay Glen Garry</li>
            <li>Pick n Pay Mountain Mill</li>
            <li>Pick n Pay Sunningdale</li>
          </ul>
          <h4>Eastern Cape</h4>
          <ul>
            <li>Pick n Pay Baywest Mall</li>
            <li>Pick n Pay Walmer Park</li>
            <li>Pick n Pay Beacon Bay</li>
            <li>Pick n Pay Hyper Moffet</li>
          </ul>
          <h4>North West</h4>
          <ul>
            <li>Pick n Pay Hyper Klerksdorp</li>
          </ul>
          <h4>Free State</h4>
          Pick n Pay Hyper Bloemfontein


        </div>
      </div>
    </div>
    <app-map></app-map>
  </mat-dialog-content>
</section>
