.footer {
    background-color: #F80386;
    color: white;
    padding: 0.8rem 2rem;



    
    &__links {
       width: 100%;
       padding: 0rem;
       display: flex;
       flex-direction: column;
       text-align: center;

       @media (min-width: 768px) {
           text-align: start;
           flex-direction: row;
           padding: 1rem 5rem 0.5rem 8rem;
       }

       @media (min-width: 1024px) {
        padding: 1rem 14rem 0.5rem 14rem;
       }

       @media (min-width: 1280px) {
        padding: 1rem 14rem 0.5rem 22rem;
       }

       @media (min-width: 1440px) {
        padding: 1rem 14rem 0.5rem 28rem;
       }

       @media (min-width: 2560px) {
        padding: 1rem 14rem 0.5rem 65rem;
       }
       
    }

    &__link {
        padding: 0.5rem 1rem;

        @media (min-width: 768px) {
            padding: 0rem 1rem; 
        }
    }

    &__link a{
        color: white;
    }

    &__line {
        width: 100%;
        background-color: white;
        text-align: center;

        @media (min-width: 1024px) {
            padding:0rem 8rem ;
            width: 70%;
        }

        @media (min-width: 1280px) {
            padding:0rem 10rem ;
            width: 70%;
        }

        @media (min-width: 1440px) {
            padding:0rem 12rem ;
        }

        @media (min-width: 2560px) {
            padding: 0rem 21rem;
        }


    }

    &__bottom {
      display: grid;
      grid-auto-flow: row;
      text-align: center;

      @media(min-width:768px){
          text-align: start;
          grid-auto-flow: column;
      }
    }

    &__social-icons {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 5.5rem;
        // padding: 0rem 0rem 3rem 37rem;

        @media (min-width: 425px) {
            padding: 0.5rem 7rem;
        }

        @media (min-width: 768px){
            padding: 0rem 0rem 3rem 25rem;  
        }
        @media (min-width: 1024px) {
            padding: 0rem 0rem 3rem 37rem;  
        }

        @media (min-width: 1280px) {
            padding: 0rem 0rem 3rem 50rem; 
        }

        @media (min-width: 1440px) {
            padding: 0rem 0rem 3rem 64rem; 
        }

        @media (min-width: 2560px) {
            padding: 0rem 0rem 3rem 125rem; 
        }
    }

    &__social-icons p {
        padding-left: 1rem;
        text-align: center;
        font-family: 'Quicksand', sans-serif; 


        @media (min-width: 768px){
            text-align: end;
        }
    }

    &__social-icons a {
        color: black;
      }
}