 <footer class="footer">
  <div class = "footer__links">
    <div class ="footer__link">
    <a href ="/restoring-oil">Restoring Oil</a> 
    </div>
    <div class ="footer__link">
    <a href ="/restoring-serum">Restoring Serum</a> 
  </div>
  <div class ="footer__link">
    <a href ="/contact-us">Contact</a> 
  </div>
  <div class ="footer__link">
    <a href ="/contact-us">Find Store</a>
    </div>
    </div>
  <hr class ="footer__line">
  <div class ="footer__bottom">
<div class ="footer__copy">
  @Ebony Shades 2021
</div>
<div class ="footer__social-icons">
  <p><a href ="https://www.facebook.com/Ebony-Shades-220781942709013/" target="_blank"><i class="fa fa-facebook"></i></a></p>
  <p><a href ="https://www.twitter.com/ebony_shades" target="_blank"><i class="fa fa-twitter"></i></a></p>
  <p><a href ="https://www.instagram.com/ebonyshades_" target="_blank"><i class="fa fa-instagram"></i></a></p>
</div>
  </div>
</footer>
