<section class = "navigation">
    <nav class=" navbar navbar-expand-lg  
        navbar-light   py-lg-0 "> 
  
        <a class="navbar-brand" href="#"> 

            <img class="navigation__logo" src= 
"/assets/images/logo.jpg"
             alt=""> 
        </a> 
          
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" 
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" 
                aria-expanded="false" 
                aria-label="Toggle navigation"> 
                  
                <span class="navbar-toggler-icon"></span> 
        </button> 
  
        <div class="collapse navbar-collapse"
                id="navbarResponsive"> 
            <ul class="navbar-nav ml-auto"> 
                <li class="nav-item active"> 
                    <a class="nav-link" href="#">Home 
                        <span class="sr-only">(current)</span> 
                    </a> 
                </li> 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Products
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/products/restoring-oil" routerLinkActive="active">Restoring Oil</a>
                    <a class="dropdown-item" routerLink="/products/restoring-serum" routerLinkActive="active">Restoring Serum</a>
                  </div>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" routerLink="/shop" routerLinkActive="active" >Shop</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" >Contact</a>
                </li> 
            </ul> 
        </div> 
    </nav> 

    
    
  </section>