.navigation {
    width: 100%;

    @media (min-width: 1024px){
        position: absolute;
       z-index: 7;
       
       
    }


    .navbar {
        background-color: rgb(248, 3, 134);

        @media (min-width: 1024px){
            background-color: transparent;
            color:rgb(23, 52, 94);
            padding: 1.5rem;
           
        }

        @media (min-width:1280px){
            padding: 8rem 0rem 8rem 6rem;
        }

        @media (min-width:1440px){
            padding: 8rem 1rem 8rem 6rem;
        }
    }

    .nav-link {
        font-size: 18px;
        color: white;
        letter-spacing: 1px;
        font-family: 'Quicksand', sans-serif; 

        @media (min-width: 1024px){
            font-size: 17px;
            letter-spacing: 0px;
        }

        @media (min-width: 1280px){
            font-size: 22px;
            letter-spacing: 1px;
        }

        @media (min-width: 1440px){
            font-size: 24px;
            letter-spacing: 1px;
        }
    }
  
    &__logo {
    width: 83px;
    z-index: 8;
    height: 95px;
    position: absolute;
    top:0;
        

        @media (min-width: 1024px) {
            width:90px ;
            height:120px;
            z-index: 9;
            top: 2;
        }

        @media (min-width: 1280px) {
            width:100px ;
            height:130px;
        }
    }

    .nav-item {
        display:flex;
    justify-content: flex-end;
    padding: 0.5rem;

        @media (min-width:1024px){
            padding: 2rem 0 0 0;
           

        @media (min-width:1280px){
        padding-top: 2.5rem;
    }
    }
}
}