.find-store-card {
background-size: cover;
height: 500px;
width: 100%;
text-align: center;
padding-top: 200px;


&__text {
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    font-family: 'Varela Round', sans-serif;

    @media (min-width: 768px){
        font-size: 35px;
    }
}

&__btn {

    background-color: #17345E;
    color: white;
    padding: 5px;
    border-radius: 0px 22px 0px 22px;
    width: 180px;
    height: 50px;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 700;
}


}