
<section class ="find-store-card img-responsive" [defaultImage]="defaultImage" [lazyLoad]="backgroundImage" >
    <div class ="find-store-card__overlay">
    <div class ="find-store-card__text">
        Available at selected PnP stores and Takealot
    </div>
    <div class ="find-store-card__button">
        <button class ="find-store-card__btn" mat-button (click)="openModal()">Find Store</button>
    </div>
</div>
</section>

