.shop-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:15;
  }
  
  .shop-bar a {
    display: block;
    text-align: center;
    padding: 13px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
  }
  
  .shop-bar a:hover {
    background-color: #000;
  }

  .shop {
      background-color: #F80386;
      color: white;
  }
  