@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

.serum-intro-card {
padding: 40px;

@media (min-width:768px) {
    padding: 90px 40px 35px;
}

@media (min-width: 1024px){
    padding: 65px 65px 160px 104px;
}
@media (min-width: 1280px) {
    padding: 100px 30px 215px 87px;
  
}
@media (min-width:1440px) {

    padding: 100px 20px 400px 130px;
}

@media (min-width: 2560px) {
    padding: 90px 100px 650px 320px;
}

&__cards {
   height: auto;
   max-width: 300px;

   @media (min-width: 768px) {
    height:450px;
}

   @media (min-width: 1280px) {
    height:500px;
    transform: translate(17%, 1%);
}
}
&__heading {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    padding: 30px 30px 40px;
    color: #17345E;
    text-align: center;

    @media (min-width:768px) {
    font-size: 35px;    
    width:700px;
    padding: 30px 0px;
    }

    @media (min-width: 1024px) {
        font-size: 40px;
        font-weight: 600;
        width: 880px;
    }

    @media (min-width: 1280px ) {
        font-size: 40px;
        padding: 60px 0px;
    }

    @media (min-width: 1440px) {
        font-size: 50px;
        width: 1200px;
        padding: 100px 0px;
    }

    @media (min-width: 2560px) {
    width: 2000px;
   
    }
}

    &__image {
     width: 100%;
     height: 100%;  
    

     @media (min-width: 768px) {  
        width: 300px;
        height: 350px;
       
   }

   @media (min-width: 1024px) {
    width: 350px;   
    min-width: 100%;
    min-height: 100%;
   }

     @media (min-width: 1280px) {  
        min-width: 100%;
        min-height:100%;
       
   }

   @media (min-width: 2560px) {
       width: 800px;
       height: 800px;
   }
     
    }

    &__text {
color: black;
width: auto;
height: auto;
padding-top: 15px;
line-height: 28px;
letter-spacing: 1px;
font-family: 'Quicksand', sans-serif; 


@media (min-width: 768px) {
    width: 401px;
    background-color: #17345E;
    color: white;
    height: 310px;
    padding: 27px;
    transform: translate(70%, -109%);
    line-height: 32px;
}
@media (min-width: 1024px) {
    width: 480px;
    height: 360px;
    transform: translate(69%, -111%);
}

@media (min-width: 1280px) {
color: white;
width: 550px;
width: 550px;
height: 462px;
padding: 30px;
transform: translate(61%, -104%);
font-size: 23px;
line-height: 43px;
font-size: 23px;

}

@media (min-width: 1440px) {
    width: 680px;
    transform: translate(49%, -103%);
    font-size: 25px;
    line-height: 50px;
    padding: 39px;
}

@media (min-width: 2560px){
    width: 850px;
    height: 740px;
    transform: translate(92%, -103%);
    font-size: 35px;
    line-height: 55px;
    padding: 100px;
}

@media (min-width: 2800px){
    width: 750px;
    height: 620px;
    transform: translate(102%, -107%);
    }
}

&__btn {
    padding-top: 15px;
}

&__prod-btn {
    background-color:#F80386;
    // background-color: linear-gradient(90deg, rgba(23,52,94,1) 14%, rgba(248,3,134,1) 29%);
    color: white;
    padding: 5px;
    border-radius: 0px 22px 0px 22px;
    width: 150px;
    height: 45px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 600;

    @media (min-width: 768px) {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    @media (min-width: 1280px) {
        width: 180px;
        height: 50px;
        font-size: 21px;
        
    }

    @media (min-width: 2560px){
        width: 200px;
        height: 70px;

    }
}
    }
