<section class = "serum-intro-card">
    <div class = "serum-intro-card__cards">
    <div class ="serum-intro-card__heading">
        Ebony Shades Repairing Serum
    </div>
<div class = "serum-intro-card__image">
    <img class ="serum-intro-card__image img-responsive" [defaultImage]="defaultImage" [lazyLoad]="serumImage" alt="serum_info">
    
</div>
<div class = "serum-intro-card__text">
    Hair Repairing and Growth Serum contains active ingredients that may help reduce hair loss, stimulate growth, condition and repair hair.
    <div class ="serum-intro-card__btn">
<button a href="/products/restoring-serum" class="serum-intro-card__prod-btn">Discover</button>
</div>
</div>
</div>
</section>