@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');

.serum-product-page {
  &__banner {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 2;

    @media(min-width: 768px) {
      height: 550px;
    }

    @media(min-width: 1280px) {
      height: 800px;
    }

    @media(min-width: 2560px) {
      height: 1250px;
    }
  }


  &__social-media {
    display: flex;
    flex-direction: row;
    color: white;
    z-index: 8;
    font-size: 17px;
    padding: 13rem 0rem;

    @media (min-width: 375px) {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      padding: 30rem 0.5rem;
      font-size: 23px;
    }

    @media (min-width: 1024px) {
      padding: 30rem 1rem;
      font-size: 27px;
    }

    @media (min-width: 1280px) {
      padding: 44rem 7rem;
      font-size: 27px;
    }

    @media (min-width: 1440px) {
      font-size: 30px;
    }

    @media (min-width: 2560px) {
      font-size: 35px;
      padding: 70rem 7rem;
    }
  }

  &__social-media p {
    padding-left: 0.7rem;

  }

  &__social-media a {
    color: white;
  }



  &__arrow {

    text-align: center;
    margin: 8% 0;

  }

  &__background {
    background: url('/assets/images/slide.jpg');
    box-shadow: inset 0 0 0 50vw #ffffffe6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    z-index: 2;

  }

  &__info-section {
    padding: 40px 40px;
    z-index: 7;

    @media (min-width: 768px) {
      padding: 65px 50px;
    }

    @media (min-width: 1024px) {
      padding: 90px 65px;
    }

    @media (min-width: 1280px) {
      padding: 100px 130px;
    }

    @media (min-width: 1440px) {
      padding: 10px 100px 150px 100px;
    }

    @media (min-width: 2560px) {
      padding: 100px 320px 101px 361px;
    }
  }

  &__product-info-heading {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 20px;
    color: #17345E;
    font-family: 'Varela Round', sans-serif;



    @media (min-width: 768px) {
      font-size: 35px;
      line-height: 60px;
    }

    @media (min-width: 1280px) {
      font-size: 35px;
      padding-bottom: 60px;
    }

    @media (min-width: 2560px) {
      font-size: 55px;
      padding-bottom: 60px;
    }


  }

  &__product-info p {
    font-size: 20px;
    line-height: 30px;
    color: black;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif; 


    @media (min-width: 768px) {
      font-size: 25px;
      line-height: 35px;
    }

    @media (min-width: 1280px) {
      font-size: 25px;
      line-height: 50px;

    }

    @media (min-width: 2560px) {
      font-size: 30px;

    }

  }


  &__product-info h3 {
    color: #17345E;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;

    @media (min-width: 768px) {
      font-size: 25px;
    }

    @media (min-width: 1280px) {
      font-size: 25px;
    }

    @media (min-width: 2560px) {
      font-size: 35px;
    }

  }

  &__find-store-text {
    text-align: center;
    font-weight: 700;
    color: #17345E;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif; 
    padding: 40px;


    @media (min-width: 768px) {
      font-size: 35px;
      padding: 60px;
    }

    @media (min-width: 1260px) {
      font-size: 40px;
      padding: 70px;
    }


  }
}

::ng-deep .logo-card-home {
  padding: 2rem 1rem 1rem 1rem !important;
  text-align: center;

  @media (min-width: 375px) {
    padding: 2rem 2rem 1rem 2rem;
  }

  @media (min-width: 768px) {
    padding: 1rem;
  }
}
