<section class = "serum-product-page">
  
    <div class = "serum-product-page__banner" [defaultImage]="defaultImage" [lazyLoad]="serumProductBanner">
        <div class ="serum-product-page__social-media">
          <p><a href ="https://www.facebook.com/Ebony-Shades-220781942709013/" target="_blank"><i class="fa fa-facebook"></i></a></p>
          <p><a href ="https://www.twitter.com/ebony_shades" target="_blank"><i class="fa fa-twitter"></i></a></p>
          <p><a href ="https://www.instagram.com/ebonyshades_" target="_blank"><i class="fa fa-instagram"></i></a></p>
          </div>
    
    </div>
    
    <app-serum-intro-card></app-serum-intro-card>  
    <div class ="serum-product-page__background">
    <div class ="serum-product-page__info-section">
    <div class = "serum-product-page__product-info ">
    <div class = "serum-product-page__product-info-heading">
        Product Information and Ingredients
    </div>
    <h3>D-panthenol – pro vitamin B5 </h3>
    <p>Improves shine, softness and strength.  Helps to protect hair from styling or environmental damage by locking in moisture. 
    </p>
    <h3>Bio - capigen veg </h3>
    <p>Compound of Hydrolyzed Soy Protein, Red Onion and Ginseng Extracts, Vitamins from B group, Sulfopeptides, Glucose and Amino acids. 
      It is designed to reduce hair loss and stimulate hair growth. Encourages cellular metabolism, improves oxygen consumption at hair cells, stimulates microcirculation at the scalp and revitalizes hair fibre.  
    </p>
    <h3>Sphingoceryl</h3>
    <p>It is a water dispersible complex of biomimetic phyto-ceramides that protect hair against environmental damage. It offers significant protection for ethnic hair after treatment with relaxing products.
    It has conditioning and repairing properties.
    </p>
    </div>
    </div>
    </div>
    
    <app-find-store-card></app-find-store-card>
    <app-logo-card-home></app-logo-card-home>
    <app-map></app-map>
    
      </section>
    
