<section class = "logo-card-home">
<div class ="logo-card-home__heading">
Available at selected PnP Stores and online at Takealot.
</div>

<div class = "logo-card-home__logos">
    <div class ="logo-card-home__logo">
<a href ="http://www.pnponline.com" target="_blank"><img src ="assets/images/pnplogo.jpg"></a>
    </div>
    <div class ="logo-card-home__logo">
<a href ="http://www.takealot.com" target="_blank"><img src ="assets/images/takealot.png"></a>
    </div>
</div>

</section>
