.logo-card-home {
padding: 39rem 1rem 1rem 1rem;
text-align: center;

@media (min-width: 375px) {
    padding: 30rem 2rem 1rem 2rem;
}

@media (min-width: 768px) {
    padding: 1rem;
}

&__heading {
font-size: 30px;
color: #17345E;
// font-weight: 500;
line-height: 22px;
letter-spacing: 1px;
font-family: 'Varela Round', sans-serif;



@media (min-width: 768px){
font-size: 33px;
padding-top: 1rem;
font-weight: 600;
}

}

&__logos {
    // display: flex;
    // flex-direction: column;
    padding: 3rem 2rem;

    display: grid;
    grid-auto-rows: min-content;
    
    grid-auto-flow: row;

    @media (min-width: 768px){
        // flex-direction: row;
        grid-auto-flow: row;
        padding: 3rem 4rem;
        grid-auto-flow: column;
    }

    @media (min-width: 1024px) {
        padding: 3rem 11rem;
    }

    @media (min-width: 1280px) {
        padding: 3rem 17rem;
    }

    @media (min-width: 1440px){
        padding: 3rem 24rem;
    }

    @media (min-width: 2560px) {
        padding: 3rem 59rem;
    }

}

// &__logo {
//     padding: 0rem 3rem;
// }


}