<section class = "oil-intro-card">
    <div class = "oil-intro-card__cards">
    <div class ="oil-intro-card__heading">
        Ebony Shades Repairing Oil
    </div>
<div class = "oil-intro-card__image">
    <img class ="oil-intro-card__image img-responsive" [defaultImage]="defaultImage" [lazyLoad]="oilProductImage">

</div>
<div class = "oil-intro-card__text">
    Hair Repairing and Growth Oil contains active ingredients that may help stimulate hair follicles to prevent hair loss, may enhance hair restoration, promote growth, reduce breakage, moisturize and strengthen hair.
    <div class ="oil-intro-card__btn">
<button class="oil-intro-card__prod-btn">Discover</button>
</div>
</div>
</div>
</section>