.product-cards {
  
    padding-top: 30px;

    @media (min-width:768px){
      padding-bottom: 900px;
      padding-left: 20px;
    
  }
  @media (min-width:1024px){
    padding-bottom: 100px;
    padding-right: 0px;
    padding-left: 4px;
  
}
    
    &__heading {
      padding: 30px 0px 40px 0px;
      text-align: center;
      color: #17345E;
      font-size: 30px;
      font-weight: 600;
      font-family: 'Varela Round', sans-serif;

      @media (min-width: 768px) {
        padding: 30px 0px 60px 0px;
      }

    }
    
    
      &__cards {
        display: flex;
        flex-direction: column;
        max-height: 500px;
        padding-bottom: 20px;

        @media (min-width: 1024px) {
          flex-direction: row;
          padding-bottom: 0px;
          }
          
      }

      .col-sm {
        padding-bottom: 70px;
        padding-right: 0px;

        @media (min-width:768px){
          padding-bottom: 120px;
        
      }

      @media (min-width:1280px){
        padding-bottom: 160px;
      
    }
    }

      &__card {

        padding: 2px 30px 2px 30px;


        @media (min-width: 768px) {
          padding: 2px 36px 2px 36px;

        }
      }

      &__card h5 {
       text-align: center;
       color: #17345E;
       font-size: 23px;
      font-family: 'Varela Round', sans-serif;
       font-weight: 600;
      }

      &__card p {
        padding: 2px 0px 2px 0px;
        font-family: 'Quicksand', sans-serif; 
        color: black;
        line-height: 22px;
        letter-spacing: 1px;

        @media (min-width:768px) {
          padding: 2px 15px 2px 15px;
        }
        
      }

    &__buttons {
      display:flex;
      flex-direction: column;
      

      @media (min-width:768px) {
        flex-direction: row;
        padding: 0px 100px 0px 175px
      }

      @media (min-width:1024px) {
        flex-direction: row;
        padding: 0px 45px;
      }
    }

      &__btn {
        text-align: center;
        padding: 20px;
        
      }

      &__product_btn {

        background-color: #17345E;
        color: white;
        padding: 5px;
        border-radius: 0px 22px 0px 22px;
        width: 140px;
        height: 40px;
        font-size: 15px;
    }

    &__product_btn-2 {

      background-color: #F80386;
      color: white;
      padding: 5px;
      border-radius: 0px 22px 0px 22px;
      width: 140px;
      height: 40px;
      font-size: 15px;
  }

       
      .mat-content p {
        padding: 2px 36px 2px 36px;
      }

       .mat-card {
     
        @media (min-width: 768px) {
          padding: 0px;
          }

        @media (min-width: 1024px) {
          padding: 10px;
          }

          @media (min-width: 1260px) {
            margin: 0px;
            }

        
      }

      .mat-card-image {
        height: 100%;
        margin: 10px 0px;

        @media (min-width: 768px) {
          padding: 16px;
          }
      
      }

      .mat-card:not([class*=mat-elevation-z]) {
        box-shadow: none;
      }


    
    }
  