<section class="product-cards">
  <div class="product-cards__heading">
    Ebony Shades Products
  </div>
  <div class="container">
    <div class="row">
      <div class="product-cards__cards">
        <div class="col-sm">
          <mat-card class="product-cards__card">
            <img mat-card-image class="product-cards__1 img-fluid"  [defaultImage]="defaultImage" [lazyLoad]="serumImage" alt="restoring_serum">
            <mat-card-content>
              <h5>Ebony Shades Restoring Serum</h5>
              <p>Hair Repairing and Growth Serum contains active ingredients that may help reduce hair loss, stimulate
                growth, condition and repair hair. </p>
                <div class ="product-cards__buttons">
              <div class="product-cards__btn">
                <button class="product-cards__product_btn" routerLink="/products/restoring-serum" mat-button>View Product</button>
              </div>
              <div class="product-cards__btn">
                <button class="product-cards__product_btn-2" routerLink="/shop" mat-button>Buy Now</button>
              </div>
            </div>
              
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm">
          <mat-card class="product-cards__card">
            <img mat-card-image class="img-fluid" [defaultImage]="defaultImage" [lazyLoad]="oilImage" alt="restoring_oil">
            <mat-card-content>
              <span class="product-card__text">
                <h5>Ebony Shades Restoring Oil</h5>
                <p>Hair Repairing and Growth Oil contains active ingredients that may help stimulate hair follicles to
                  prevent hair loss, may enhance hair restoration, promote growth, reduce breakage, moisturize and
                  strengthen hair.</p>
              </span>
              <div class ="product-cards__buttons">
              <div class="product-cards__btn">
                <button routerLink="/products/restoring-oil" class="product-cards__product_btn" mat-button>View
                  Product</button>
                 
              </div>
              <div class="product-cards__btn">
                <button class="product-cards__product_btn-2" routerLink="/shop" mat-button>Buy Now</button>
              </div>
            </div>
           
            </mat-card-content>

          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>
